<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.shopmall.mapper.WxCategoryBrandMapper">


    <resultMap id="wxCategoryBrandResultMap" type="com.wx.shopmall.entity.WxCategoryBrand">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="brand_name" property="brandName"/>
        <result column="brand_img" property="brandImg"/>
        <result column="brand_state" property="baranState"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="queryBrandList" resultType="java.lang.Long" resultMap="wxCategoryBrandResultMap">
        select * from wx_category_brand wcb where wcb.category_id = #{categoryId}
    </select>

</mapper>